@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre|Source+Sans+Pro&display=swap');
/* font-family: 'Averia Serif Libre', cursive;
font-family: 'Source Sans Pro', sans-serif; */

/* Nav_Bar */
.nav li a:hover, .navbar-default {
	background-color: transparent;
}
.navbar-default {
	 border-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav > a:focus {
	color: #666633;
	background-color: rgba(17,17,17,.5);
}
.navbar-default .navbar-nav > li >a {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #CCCC99;
	text-shadow: 2px 2px 4px #0a0a0a;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
	color: #990033;
	font-weight: bold;
	background-color: rgba(0,0,0,.2,);
}
nav.navbar {
	position: absolute;
	top: 100;
	right: 0;
	left: 0;
	z-index: 20;
}
.navbar-brand >img {
	height: 3em;
}

/* Carousel */
.carousel {
    margin-bottom: 0px;
}
.carousel-caption {
	padding-bottom: 160px;
}
.carousel-caption > .main_text {
	font-family: 'Averia Serif Libre', cursive;
	color: #0067a6;
	font-weight: bold;
}
.carousel-caption > h1, .carousel-caption > p {
	font-family: 'Averia Serif Libre', cursive;
	color: #0067a6;
	font-weight: bold;
}
.carousel-caption > h1 {
	font-size: 3em;
}
.carousel-caption > p {
	font-size: 1.5em;
}
.carousel-inner .item {
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	padding-top: 200px;
}

/* Items */
.main_img1 {
	background-image: url('../img/law-books.png');
}
.main_img2 {
	background-image: url('../img/Probate.png');
}
.main_img3 {
	background-image: url('../img/traffic.png');
}
.main_img4 {
	background-image: url('../img/Bankruptcy.png');
}
.btn-primary {
	color: #0067a6;
	background-color:   #CCCC99;
	border-color: transparent;
	text-shadow: 2px 2px 5px #0a0a0a;    

}
.btn-primary:hover {
	columns: #CCCC99;
	background-color:#990033;
	border-color: transparent;
}

/* main */
#testimony {
	background-color:  #666633;
	background-size: cover;
	background-attachment: fixed;
}
#testimony .center {
	margin: 0 auto;
	float: none;
	background-color: rgba(20,20,20,.6);
	padding: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 5px;
}
#testimony h1 {
	font-family: 'Averia Serif Libre', cursive;
	font-size: 5em;
	color: #0067a6;
	text-shadow: 1px 1px 5px #0a0a0a;    
}
#testimony p {
	color: #0067a6;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	font-size: 2em;
	text-shadow: 1px 1px 5px #0a0a0a0a;
}
#menu_tabs a {
	background-color:  #CCCC99;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	font-weight: bold;
	border-radius: 20px;
	border: solid 3px;
	border-color: #0067a6;
}
#menu_tabs :hover {
	border: none;
	color: #990033;
	font-size: 17px;
	font-weight: bold;
}
#statistics {
	background-color: #000000;
    background-size: cover;
	background-attachment: fixed;
	padding-top: 25px;
	padding-bottom: 25px;
}
#statistics h1 {
	color: #0067a6;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 60px;
}
 #statistics h2 {
	 font-size: 40px;
 }
#statistics h2, #statistics p {
	color: #0067a6;
	font-family: 'Source Sans Pro', sans-serif;
}

#statistics img {
	width: 100%;
	height: 100%;
	padding-left: 250px;
	padding-right: 250px;
}
/* Footer */
footer {
	background-image: url('../img/law-books.png');
	font-family: 'Source Sans Pro', sans-serif;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
	max-height: 100%;
}
footer a {
	color: #CCCC99;
	font-size: 17px;
}
footer a:hover {
	color: #990033;
	font-weight: bold;
}
footer img {
	width: 13em;
}
.contact_info {
	padding-top: 17px;
	font-size-adjust: 2em;
	text-align: left;
}
footer, .fine_print {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #CCCC99;
	text-align: center;
}
@media(max-width: 768px) {
	.centered {
		float: none;
	}
	.social {
		margin: 10px 10px;
		font-size-adjust: 3em;
	}
}
.fa-facebook-square {
	color: #3C5A99;
}
.fa-twitter-square {
	color: #1dcaff;
}
.fa-linkedin {
	color: #0077B5;
}
