@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Domine&display=swap');
/* font-family: 'Cabin Sketch', cursive;
font-family: 'Domine', serif; */

/* Nav_Bar */
.nav li a:hover, .navbar-default {
	background-color: transparent;
}
.navbar-default {
	 border-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav > a:focus {
	color: darkgray;
	background-color: rgba(17,17,17,.5);
}
.navbar-default .navbar-nav > li >a {
	font-family: 'Domine', serif;
	color: darkred;
	text-shadow: 2px 2px 4px #0a0a0a;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
	color: #0067a6;
	background-color: rgba(0,0,0,.2,);
}
nav.navbar {
	position: absolute;
	top: 100;
	right: 0;
	left: 0;
	z-index: 20;
}
.navbar-brand >img {
	height: 3em;
}

/* Carousel */
.carousel {
    margin-bottom: 0px;
}
.carousel-caption {
	padding-bottom: 160px;
}
.carousel-caption > .main_text {
	font-family: 'Cabin Sketch', cursive;
	color: #0067a6;
	font-weight: bold;
}
.carousel-caption > h1, .carousel-caption > p {
	font-family: 'Cabin Sketch', cursive;
	color: #0067a6;
	font-weight: bold;
}
.carousel-caption > h1 {
	font-size: 3em;
}
.carousel-caption > p {
		font-size: 1.5em;
}
.carousel-inner .item {
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	padding-top: 200px;
}

/* Items */
.main_img1 {
	background-image: url('../img/law-books.png');
}
.main_img2 {
	background-image: url('../img/Probate.png');
}
.main_img3 {
	background-image: url('../img/traffic.png');
}
.main_img4 {
	background-image: url('../img/Bankruptcy.png');
}
.btn-primary {
	color: #0067a6;
	background-color: darkred;
	border-color: transparent;
}
.btn-primary:hover {
	background-color:#0067a6;
	border-color: transparent;
}

/* main */
#testimony {
    background-color: darkred;
    background-size: cover;
    background-attachment: fixed;
}
#testimony .center {
    margin: 0 auto;
    float: none;
    background-color: rgba(20,20,20,.6);
    padding: 10px;
	margin-top: 125px;
	margin-bottom: 125px;
    border-radius: 5px;
}
#testimony h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 5em;
    color: #0067a6;
    text-shadow: 1px 1px 5px #0a0a0a;    
}
#testimony p {
    color: #0067a6;
    font-family: 'Domine', serif;
    font-weight: 300;
    font-size: 2em;
    text-shadow: 1px 1px 5px #0a0a0a0a;
}
#menu_tabs {
	background-color: darkred;
	border: solid 3px;
	border-color: #0067a6;
}
#menu_tabs :hover {
	border: none;
	color: #000000;
}
#statistics {
	background-color: #000000;
    background-size: cover;
    background-attachment: fixed;
}
#statistics h1 {
	color: #0067a6;
  font-family: 'Cabin Sketch', cursive;
}
#statistics h2, #statistics p {
	color: #0067a6;
    font-family: 'Domine', serif;

}
#statistics img {
	width: 100%;
	height: 100%;
	padding-left: 250px;
	padding-right: 250px;
}
/* Footer */
footer {
	background-image: url('../img/law-books.png');
	font-family: 'Domine', serif;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
	max-height: 100%;
}
footer a {
	color: #000000;
	font-weight: bold;
}
footer a:hover {
	color: #0067a6;
}
footer img {
	width: 10em;
	text-align: center;
}
.contact_info {
	padding-top: 10px;
	font-size-adjust: 2em;
	text-align: center;
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
}
footer, .fine_print {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000000;
	font-weight: bold;
	text-align: center;
}
@media(max-width: 768px) {
	.centered {
		float: none;
	}
	.social {
		margin: 20px 10px 0px;
		font-size-adjust: 2em;
	}
}
.fa-facebook-square {
	color: #3C5A99;
}
.fa-camera {
	color: #1c81a0;
}
.fa-twitter-square {
	color: #1dcaff;
}
.fa-linkedin {
	color: #0077B5;
}
