@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Domine&display=swap');
/* font-family: 'Cabin Sketch', cursive;
font-family: 'Domine', serif; */
/* Nav_Bar */
.nav li a:hover, .navbar-default {
	background-color: transparent;
}
.navbar-default {
	 border-color: transparent;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav .active a:hover,
.navbar-default .navbar-nav > a:focus {
	color: darkgray;
	background-color: rgba(17,17,17,.5);
}
.navbar-default .navbar-nav > li >a {
	font-family: 'Domine', serif;
	font-weight: bold;
	color: darkgray;
	text-shadow: 2px 2px 4px #0a0a0a;
}
.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:focus {
	color: darkblue;
	background-color: rgba(0,0,0,.2,);
}
nav.navbar {
	position: absolute;
	top: 100;
	right: 0;
	left: 0;
	z-index: 20;
}
.navbar-brand >img {
	height: 3em;
}
/* Carousel */
.carousel {
    margin-bottom: 0px;
}
.carousel-caption {
	z-index: 0;
}
.carousel-inner .item {
	font-family: 'Cabin Sketch', cursive;
	width: 100%;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
}
.carousel-inner>.main_img1>.main_logo {
	margin-block: center;
	height: 250px;
}

	/* Items */
.main_img1 {
	background-image: url('../img/law-books.png');
}
.main_logo {
	vertical-align: bottom;
}
.main_img2 {
	background-image: url('../img/traffic.png');
}
.main_img3 {
	background-image: url('../img/Probate.png');
}
.main_img4 {
	background-image: url('../img/Bankruptcy.png');
}
.btn-primary {
	color: darkblue;
	background-color: #000000;
	border-color: transparent;
}
.btn-primary:hover {
	background-color: darkgray;
	border-color: transparent;
}
.carousel-caption > h1, .carousel-caption > p {
	color: #000000;
	font-size: 16px;
}
.carousel-caption > .main_text {
	color: darkblue;
	font-weight: bold;
	padding-bottom: 225px;
}
/* Footer */
footer {
	background-image: url('../img/law-books.png');
	font-family: 'Domine', serif;
    background-size: cover;
    background-position: center;
    padding-top: 20px;
	max-height: 100%;
}
footer a {
	color: #000000;
	font-weight: bold;
}
footer img {
	width: 10em;
	text-align: center;
}
.contact_info {
	padding-left: 40px;
	border-right: 2px solid #000000;
	border-left: 2px solid #000000;
}
.contact_info {
	padding-top: 10px;
	font-size-adjust: 2em;
}
footer, .fine_print {
	margin-top: 0px;
	margin-bottom: 0px;
	color: #000000;
	font-weight: bold;
}
@media(max-width: 768px) {
	.centered {
		float: none;
		margin: 0 auto;
	}
	.social {
		margin: 20px 10px 0px;
		font-size-adjust: 2em;
	}
}
.fa-facebook-square {
	color: #3C5A99;
}
.fa-camera {
	color: #1c81a0;
}
.fa-twitter-square {
	color: #1dcaff;
}
.fa-linkedin {
	color: #0077B5;
}
